name: Wakatime

on: 
  workflow_dispatch:
  push:
    branches:
    - main
  schedule:
   - cron: "0 23 * * *"

jobs:
  wakatime:
    runs-on: ubuntu-latest
    steps:
    - name: WakaTime
      uses: lowlighter/metrics@latest
      with:
        filename: metrics.plugin.wakatime.svg
        token: NOT_NEEDED
        base: "bagussatoto"
        plugin_wakatime: yes
        plugin_wakatime_user: "bagussatoto"
        plugin_wakatime_email: "bagusbudisatoto2001@gmail.com"
        plugin_wakatime_sections: time, languages, languages-graphs, editors, os
        # plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
