name: Wakatime

on: 
  workflow_dispatch:
  push:
    branches:
    - main
  schedule:
   - cron: "0 23 * * *"

jobs:
  wakatime:
    runs-on: ubuntu-latest
    steps:
    - name: WakaTime
      uses: lowlighter/metrics@latest
      with:
        filename: metrics.plugin.waketime.svg
        token: NOT_NEEDED
        base: "
        plugin_wakatime: yes
        plugin_wakatime_user: bagussatoto
        plugin_wakatime_sections: time, languages, languages-graphs, editors, os
        plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
